# -*- mode: gitignore; -*-
*~
\#*\#
*.elc
auto-save-list
tramp
hostname
projects
.\#*

/eshell/history
/eshell/lastdir
/elpa/
/server/
/network-security.data
/elpaca/
/eln-cache/
/cache/
custom-file.el
/recentf
/transient/
